/* moblie first */
body {
  background-image: linear-gradient(#392d69, #b57bee);
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  display: flex;
  justify-content: center;
  color: #919bff;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0;
}

.pfp-flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-image-flex {
  display: flex;
  justify-content: center;
}

/* image styling */
.image {
  border-radius: 10px;
  border-style: solid;
  border-color: #392d69;
  border-width: 5px;
  /* box-shadow: 10px 10px 10px 10px; */
}

/* .container:hover .ms-muffet-overlay {
  opacity: 1;
} */

.bubble {
  border-radius: 15px;
  background: #fff;
  box-shadow: 10px 10px #392d69;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  /* margin: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  color: #392d69;
  font-weight: bold;
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.projects-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.project-flex-items {
  flex: 1;
}

p {
  text-indent: 20px;
  margin: 10px;
}

/* desktop view */
@media all and (min-width: 480px) {
  .skill-flexbox {
    display: flex;
    justify-content: space-around;
  }

  .about-me-flexbox {
    display: flex;
  }

  .section-flex-container {
    flex: 1;
  }

  .whole-article {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
  }

  /* .left-web {
    justify-content: flex-end;
    box-shadow: 200px 10px 0 0 rgba(255, 255, 255, 1),
      200px 20px 0 0 rgba(255, 255, 255, 1),
      200px 30px 0 0 rgba(255, 255, 255, 1),
      440px 30px 0 0 rgba(255, 255, 255, 1),
      200px 40px 0 0 rgba(255, 255, 255, 1),
      430px 40px 0 0 rgba(255, 255, 255, 1),
      200px 50px 0 0 rgba(255, 255, 255, 1),
      420px 50px 0 0 rgba(255, 255, 255, 1),
      200px 60px 0 0 rgba(255, 255, 255, 1),
      410px 60px 0 0 rgba(255, 255, 255, 1),
      200px 70px 0 0 rgba(255, 255, 255, 1),
      400px 70px 0 0 rgba(255, 255, 255, 1),
      200px 80px 0 0 rgba(255, 255, 255, 1),
      390px 80px 0 0 rgba(255, 255, 255, 1),
      200px 90px 0 0 rgba(255, 255, 255, 1),
      380px 90px 0 0 rgba(255, 255, 255, 1),
      200px 100px 0 0 rgba(255, 255, 255, 1),
      370px 100px 0 0 rgba(255, 255, 255, 1),
      200px 110px 0 0 rgba(255, 255, 255, 1),
      360px 110px 0 0 rgba(255, 255, 255, 1),
      200px 120px 0 0 rgba(255, 255, 255, 1),
      350px 120px 0 0 rgba(255, 255, 255, 1),
      360px 120px 0 0 rgba(255, 255, 255, 1),
      190px 130px 0 0 rgba(255, 255, 255, 1),
      200px 130px 0 0 rgba(255, 255, 255, 1),
      210px 130px 0 0 rgba(255, 255, 255, 1),
      330px 130px 0 0 rgba(255, 255, 255, 1),
      340px 130px 0 0 rgba(255, 255, 255, 1),
      350px 130px 0 0 rgba(255, 255, 255, 1),
      190px 140px 0 0 rgba(255, 255, 255, 1),
      200px 140px 0 0 rgba(158, 158, 158, 1),
      210px 140px 0 0 rgba(255, 255, 255, 1),
      220px 140px 0 0 rgba(255, 255, 255, 1),
      330px 140px 0 0 rgba(255, 255, 255, 1),
      340px 140px 0 0 rgba(158, 158, 158, 1),
      350px 140px 0 0 rgba(255, 255, 255, 1),
      10px 150px 0 0 rgba(255, 255, 255, 1),
      180px 150px 0 0 rgba(255, 255, 255, 1),
      210px 150px 0 0 rgba(255, 255, 255, 1),
      220px 150px 0 0 rgba(158, 158, 158, 1),
      230px 150px 0 0 rgba(255, 255, 255, 1),
      320px 150px 0 0 rgba(255, 255, 255, 1),
      330px 150px 0 0 rgba(255, 255, 255, 1),
      340px 150px 0 0 rgba(255, 255, 255, 1),
      20px 160px 0 0 rgba(255, 255, 255, 1),
      170px 160px 0 0 rgba(255, 255, 255, 1),
      180px 160px 0 0 rgba(255, 255, 255, 1),
      210px 160px 0 0 rgba(255, 255, 255, 1),
      230px 160px 0 0 rgba(158, 158, 158, 1),
      240px 160px 0 0 rgba(255, 255, 255, 1),
      290px 160px 0 0 rgba(255, 255, 255, 1),
      300px 160px 0 0 rgba(255, 255, 255, 1),
      310px 160px 0 0 rgba(255, 255, 255, 1),
      320px 160px 0 0 rgba(255, 255, 255, 1),
      330px 160px 0 0 rgba(158, 158, 158, 1),
      340px 160px 0 0 rgba(255, 255, 255, 1),
      30px 170px 0 0 rgba(255, 255, 255, 1),
      160px 170px 0 0 rgba(255, 255, 255, 1),
      170px 170px 0 0 rgba(255, 255, 255, 1),
      210px 170px 0 0 rgba(255, 255, 255, 1),
      220px 170px 0 0 rgba(158, 158, 158, 1),
      240px 170px 0 0 rgba(158, 158, 158, 1),
      250px 170px 0 0 rgba(255, 255, 255, 1),
      260px 170px 0 0 rgba(255, 255, 255, 1),
      270px 170px 0 0 rgba(255, 255, 255, 1),
      280px 170px 0 0 rgba(255, 255, 255, 1),
      290px 170px 0 0 rgba(255, 255, 255, 1),
      300px 170px 0 0 rgba(255, 255, 255, 1),
      310px 170px 0 0 rgba(158, 158, 158, 1),
      320px 170px 0 0 rgba(255, 255, 255, 1),
      330px 170px 0 0 rgba(158, 158, 158, 1),
      340px 170px 0 0 rgba(255, 255, 255, 1),
      40px 180px 0 0 rgba(255, 255, 255, 1),
      140px 180px 0 0 rgba(255, 255, 255, 1),
      150px 180px 0 0 rgba(255, 255, 255, 1),
      160px 180px 0 0 rgba(255, 255, 255, 1),
      170px 180px 0 0 rgba(255, 255, 255, 1),
      210px 180px 0 0 rgba(255, 255, 255, 1),
      220px 180px 0 0 rgba(158, 158, 158, 1),
      250px 180px 0 0 rgba(255, 255, 255, 1),
      320px 180px 0 0 rgba(255, 255, 255, 1),
      340px 180px 0 0 rgba(255, 255, 255, 1),
      50px 190px 0 0 rgba(255, 255, 255, 1),
      120px 190px 0 0 rgba(255, 255, 255, 1),
      130px 190px 0 0 rgba(255, 255, 255, 1),
      150px 190px 0 0 rgba(255, 255, 255, 1),
      160px 190px 0 0 rgba(158, 158, 158, 1),
      210px 190px 0 0 rgba(255, 255, 255, 1),
      220px 190px 0 0 rgba(158, 158, 158, 1),
      250px 190px 0 0 rgba(255, 255, 255, 1),
      310px 190px 0 0 rgba(255, 255, 255, 1),
      340px 190px 0 0 rgba(255, 255, 255, 1),
      60px 200px 0 0 rgba(255, 255, 255, 1),
      70px 200px 0 0 rgba(255, 255, 255, 1),
      80px 200px 0 0 rgba(255, 255, 255, 1),
      110px 200px 0 0 rgba(255, 255, 255, 1),
      120px 200px 0 0 rgba(158, 158, 158, 1),
      160px 200px 0 0 rgba(255, 255, 255, 1),
      170px 200px 0 0 rgba(158, 158, 158, 1),
      180px 200px 0 0 rgba(158, 158, 158, 1),
      190px 200px 0 0 rgba(158, 158, 158, 1),
      200px 200px 0 0 rgba(255, 255, 255, 1),
      210px 200px 0 0 rgba(255, 255, 255, 1),
      220px 200px 0 0 rgba(158, 158, 158, 1),
      230px 200px 0 0 rgba(158, 158, 158, 1),
      250px 200px 0 0 rgba(255, 255, 255, 1),
      300px 200px 0 0 rgba(255, 255, 255, 1),
      340px 200px 0 0 rgba(255, 255, 255, 1),
      80px 210px 0 0 rgba(255, 255, 255, 1),
      90px 210px 0 0 rgba(255, 255, 255, 1),
      100px 210px 0 0 rgba(255, 255, 255, 1),
      110px 210px 0 0 rgba(255, 255, 255, 1),
      120px 210px 0 0 rgba(255, 255, 255, 1),
      130px 210px 0 0 rgba(158, 158, 158, 1),
      170px 210px 0 0 rgba(255, 255, 255, 1),
      180px 210px 0 0 rgba(255, 255, 255, 1),
      200px 210px 0 0 rgba(255, 255, 255, 1),
      210px 210px 0 0 rgba(255, 255, 255, 1),
      220px 210px 0 0 rgba(255, 255, 255, 1),
      230px 210px 0 0 rgba(255, 255, 255, 1),
      240px 210px 0 0 rgba(255, 255, 255, 1),
      250px 210px 0 0 rgba(255, 255, 255, 1),
      260px 210px 0 0 rgba(255, 255, 255, 1),
      270px 210px 0 0 rgba(255, 255, 255, 1),
      280px 210px 0 0 rgba(255, 255, 255, 1),
      290px 210px 0 0 rgba(255, 255, 255, 1),
      300px 210px 0 0 rgba(255, 255, 255, 1),
      340px 210px 0 0 rgba(255, 255, 255, 1),
      350px 210px 0 0 rgba(255, 255, 255, 1),
      80px 220px 0 0 rgba(255, 255, 255, 1),
      90px 220px 0 0 rgba(158, 158, 158, 1),
      130px 220px 0 0 rgba(255, 255, 255, 1),
      140px 220px 0 0 rgba(158, 158, 158, 1),
      150px 220px 0 0 rgba(158, 158, 158, 1),
      160px 220px 0 0 rgba(158, 158, 158, 1),
      170px 220px 0 0 rgba(255, 255, 255, 1),
      220px 220px 0 0 rgba(255, 255, 255, 1),
      230px 220px 0 0 rgba(255, 255, 255, 1),
      280px 220px 0 0 rgba(255, 255, 255, 1),
      290px 220px 0 0 rgba(158, 158, 158, 1),
      300px 220px 0 0 rgba(255, 255, 255, 1),
      310px 220px 0 0 rgba(255, 255, 255, 1),
      320px 220px 0 0 rgba(255, 255, 255, 1),
      330px 220px 0 0 rgba(255, 255, 255, 1),
      340px 220px 0 0 rgba(255, 255, 255, 1),
      350px 220px 0 0 rgba(255, 255, 255, 1),
      90px 230px 0 0 rgba(255, 255, 255, 1),
      140px 230px 0 0 rgba(255, 255, 255, 1),
      150px 230px 0 0 rgba(255, 255, 255, 1),
      160px 230px 0 0 rgba(255, 255, 255, 1),
      210px 230px 0 0 rgba(255, 255, 255, 1),
      220px 230px 0 0 rgba(158, 158, 158, 1),
      230px 230px 0 0 rgba(158, 158, 158, 1),
      240px 230px 0 0 rgba(255, 255, 255, 1),
      280px 230px 0 0 rgba(255, 255, 255, 1),
      300px 230px 0 0 rgba(255, 255, 255, 1),
      320px 230px 0 0 rgba(255, 255, 255, 1),
      340px 230px 0 0 rgba(158, 158, 158, 1),
      350px 230px 0 0 rgba(255, 255, 255, 1),
      90px 240px 0 0 rgba(255, 255, 255, 1),
      100px 240px 0 0 rgba(255, 255, 255, 1),
      150px 240px 0 0 rgba(255, 255, 255, 1),
      200px 240px 0 0 rgba(255, 255, 255, 1),
      210px 240px 0 0 rgba(158, 158, 158, 1),
      240px 240px 0 0 rgba(158, 158, 158, 1),
      250px 240px 0 0 rgba(255, 255, 255, 1),
      260px 240px 0 0 rgba(255, 255, 255, 1),
      270px 240px 0 0 rgba(255, 255, 255, 1),
      300px 240px 0 0 rgba(255, 255, 255, 1),
      320px 240px 0 0 rgba(255, 255, 255, 1),
      340px 240px 0 0 rgba(158, 158, 158, 1),
      350px 240px 0 0 rgba(255, 255, 255, 1),
      100px 250px 0 0 rgba(255, 255, 255, 1),
      150px 250px 0 0 rgba(255, 255, 255, 1),
      160px 250px 0 0 rgba(255, 255, 255, 1),
      170px 250px 0 0 rgba(255, 255, 255, 1),
      180px 250px 0 0 rgba(255, 255, 255, 1),
      190px 250px 0 0 rgba(255, 255, 255, 1),
      200px 250px 0 0 rgba(158, 158, 158, 1),
      240px 250px 0 0 rgba(158, 158, 158, 1),
      250px 250px 0 0 rgba(158, 158, 158, 1),
      260px 250px 0 0 rgba(158, 158, 158, 1),
      270px 250px 0 0 rgba(255, 255, 255, 1),
      280px 250px 0 0 rgba(255, 255, 255, 1),
      290px 250px 0 0 rgba(255, 255, 255, 1),
      310px 250px 0 0 rgba(255, 255, 255, 1),
      360px 250px 0 0 rgba(255, 255, 255, 1),
      100px 260px 0 0 rgba(255, 255, 255, 1),
      110px 260px 0 0 rgba(255, 255, 255, 1),
      150px 260px 0 0 rgba(255, 255, 255, 1),
      200px 260px 0 0 rgba(255, 255, 255, 1),
      210px 260px 0 0 rgba(255, 255, 255, 1),
      220px 260px 0 0 rgba(255, 255, 255, 1),
      230px 260px 0 0 rgba(255, 255, 255, 1),
      240px 260px 0 0 rgba(158, 158, 158, 1),
      250px 260px 0 0 rgba(158, 158, 158, 1),
      260px 260px 0 0 rgba(255, 255, 255, 1),
      300px 260px 0 0 rgba(255, 255, 255, 1),
      310px 260px 0 0 rgba(255, 255, 255, 1),
      320px 260px 0 0 rgba(158, 158, 158, 1),
      360px 260px 0 0 rgba(255, 255, 255, 1),
      110px 270px 0 0 rgba(255, 255, 255, 1),
      150px 270px 0 0 rgba(255, 255, 255, 1),
      200px 270px 0 0 rgba(255, 255, 255, 1),
      240px 270px 0 0 rgba(158, 158, 158, 1),
      250px 270px 0 0 rgba(158, 158, 158, 1),
      270px 270px 0 0 rgba(255, 255, 255, 1),
      280px 270px 0 0 rgba(255, 255, 255, 1),
      290px 270px 0 0 rgba(158, 158, 158, 1),
      300px 270px 0 0 rgba(158, 158, 158, 1),
      310px 270px 0 0 rgba(158, 158, 158, 1),
      320px 270px 0 0 rgba(255, 255, 255, 1),
      330px 270px 0 0 rgba(255, 255, 255, 1),
      340px 270px 0 0 rgba(255, 255, 255, 1),
      350px 270px 0 0 rgba(255, 255, 255, 1),
      360px 270px 0 0 rgba(255, 255, 255, 1),
      370px 270px 0 0 rgba(255, 255, 255, 1),
      110px 280px 0 0 rgba(255, 255, 255, 1),
      150px 280px 0 0 rgba(255, 255, 255, 1),
      160px 280px 0 0 rgba(255, 255, 255, 1),
      200px 280px 0 0 rgba(255, 255, 255, 1),
      220px 280px 0 0 rgba(158, 158, 158, 1),
      230px 280px 0 0 rgba(255, 255, 255, 1),
      250px 280px 0 0 rgba(255, 255, 255, 1),
      260px 280px 0 0 rgba(255, 255, 255, 1),
      270px 280px 0 0 rgba(158, 158, 158, 1),
      280px 280px 0 0 rgba(255, 255, 255, 1),
      320px 280px 0 0 rgba(255, 255, 255, 1),
      330px 280px 0 0 rgba(158, 158, 158, 1),
      340px 280px 0 0 rgba(158, 158, 158, 1),
      370px 280px 0 0 rgba(158, 158, 158, 1),
      380px 280px 0 0 rgba(255, 255, 255, 1),
      390px 280px 0 0 rgba(255, 255, 255, 1),
      400px 280px 0 0 rgba(255, 255, 255, 1),
      110px 290px 0 0 rgba(255, 255, 255, 1),
      140px 290px 0 0 rgba(255, 255, 255, 1),
      150px 290px 0 0 rgba(158, 158, 158, 1),
      160px 290px 0 0 rgba(255, 255, 255, 1),
      200px 290px 0 0 rgba(255, 255, 255, 1),
      210px 290px 0 0 rgba(255, 255, 255, 1),
      220px 290px 0 0 rgba(255, 255, 255, 1),
      260px 290px 0 0 rgba(255, 255, 255, 1),
      270px 290px 0 0 rgba(255, 255, 255, 1),
      320px 290px 0 0 rgba(255, 255, 255, 1),
      380px 290px 0 0 rgba(158, 158, 158, 1),
      390px 290px 0 0 rgba(158, 158, 158, 1),
      400px 290px 0 0 rgba(255, 255, 255, 1),
      410px 290px 0 0 rgba(255, 255, 255, 1),
      420px 290px 0 0 rgba(255, 255, 255, 1),
      430px 290px 0 0 rgba(255, 255, 255, 1),
      440px 290px 0 0 rgba(255, 255, 255, 1),
      110px 300px 0 0 rgba(255, 255, 255, 1),
      120px 300px 0 0 rgba(255, 255, 255, 1),
      130px 300px 0 0 rgba(255, 255, 255, 1),
      160px 300px 0 0 rgba(255, 255, 255, 1),
      200px 300px 0 0 rgba(255, 255, 255, 1),
      210px 300px 0 0 rgba(158, 158, 158, 1),
      220px 300px 0 0 rgba(158, 158, 158, 1),
      230px 300px 0 0 rgba(255, 255, 255, 1),
      240px 300px 0 0 rgba(255, 255, 255, 1),
      250px 300px 0 0 rgba(255, 255, 255, 1),
      260px 300px 0 0 rgba(158, 158, 158, 1),
      270px 300px 0 0 rgba(255, 255, 255, 1),
      310px 300px 0 0 rgba(255, 255, 255, 1),
      370px 300px 0 0 rgba(158, 158, 158, 1),
      380px 300px 0 0 rgba(255, 255, 255, 1),
      390px 300px 0 0 rgba(255, 255, 255, 1),
      110px 310px 0 0 rgba(255, 255, 255, 1),
      120px 310px 0 0 rgba(158, 158, 158, 1),
      160px 310px 0 0 rgba(255, 255, 255, 1),
      170px 310px 0 0 rgba(255, 255, 255, 1),
      180px 310px 0 0 rgba(255, 255, 255, 1),
      190px 310px 0 0 rgba(255, 255, 255, 1),
      270px 310px 0 0 rgba(255, 255, 255, 1),
      300px 310px 0 0 rgba(255, 255, 255, 1),
      310px 310px 0 0 rgba(158, 158, 158, 1),
      360px 310px 0 0 rgba(158, 158, 158, 1),
      370px 310px 0 0 rgba(255, 255, 255, 1),
      120px 320px 0 0 rgba(255, 255, 255, 1),
      160px 320px 0 0 rgba(255, 255, 255, 1),
      170px 320px 0 0 rgba(158, 158, 158, 1),
      270px 320px 0 0 rgba(158, 158, 158, 1),
      280px 320px 0 0 rgba(255, 255, 255, 1),
      290px 320px 0 0 rgba(255, 255, 255, 1),
      300px 320px 0 0 rgba(158, 158, 158, 1),
      310px 320px 0 0 rgba(255, 255, 255, 1),
      350px 320px 0 0 rgba(158, 158, 158, 1),
      360px 320px 0 0 rgba(255, 255, 255, 1),
      130px 330px 0 0 rgba(255, 255, 255, 1),
      160px 330px 0 0 rgba(255, 255, 255, 1),
      170px 330px 0 0 rgba(255, 255, 255, 1),
      180px 330px 0 0 rgba(255, 255, 255, 1),
      190px 330px 0 0 rgba(255, 255, 255, 1),
      200px 330px 0 0 rgba(255, 255, 255, 1),
      210px 330px 0 0 rgba(255, 255, 255, 1),
      220px 330px 0 0 rgba(255, 255, 255, 1),
      230px 330px 0 0 rgba(255, 255, 255, 1),
      240px 330px 0 0 rgba(255, 255, 255, 1),
      250px 330px 0 0 rgba(255, 255, 255, 1),
      260px 330px 0 0 rgba(255, 255, 255, 1),
      270px 330px 0 0 rgba(255, 255, 255, 1),
      280px 330px 0 0 rgba(255, 255, 255, 1),
      290px 330px 0 0 rgba(158, 158, 158, 1),
      310px 330px 0 0 rgba(158, 158, 158, 1),
      320px 330px 0 0 rgba(255, 255, 255, 1),
      330px 330px 0 0 rgba(255, 255, 255, 1),
      350px 330px 0 0 rgba(255, 255, 255, 1),
      130px 340px 0 0 rgba(255, 255, 255, 1),
      160px 340px 0 0 rgba(255, 255, 255, 1),
      170px 340px 0 0 rgba(158, 158, 158, 1),
      230px 340px 0 0 rgba(255, 255, 255, 1),
      270px 340px 0 0 rgba(158, 158, 158, 1),
      280px 340px 0 0 rgba(255, 255, 255, 1),
      290px 340px 0 0 rgba(158, 158, 158, 1),
      320px 340px 0 0 rgba(158, 158, 158, 1),
      330px 340px 0 0 rgba(255, 255, 255, 1),
      340px 340px 0 0 rgba(255, 255, 255, 1),
      350px 340px 0 0 rgba(255, 255, 255, 1),
      130px 350px 0 0 rgba(255, 255, 255, 1),
      160px 350px 0 0 rgba(255, 255, 255, 1),
      230px 350px 0 0 rgba(255, 255, 255, 1),
      270px 350px 0 0 rgba(158, 158, 158, 1),
      280px 350px 0 0 rgba(255, 255, 255, 1),
      330px 350px 0 0 rgba(158, 158, 158, 1),
      340px 350px 0 0 rgba(255, 255, 255, 1),
      130px 360px 0 0 rgba(255, 255, 255, 1),
      150px 360px 0 0 rgba(255, 255, 255, 1),
      200px 360px 0 0 rgba(255, 255, 255, 1),
      210px 360px 0 0 rgba(255, 255, 255, 1),
      220px 360px 0 0 rgba(255, 255, 255, 1),
      230px 360px 0 0 rgba(255, 255, 255, 1),
      280px 360px 0 0 rgba(158, 158, 158, 1),
      290px 360px 0 0 rgba(255, 255, 255, 1),
      330px 360px 0 0 rgba(255, 255, 255, 1),
      130px 370px 0 0 rgba(255, 255, 255, 1),
      140px 370px 0 0 rgba(255, 255, 255, 1),
      180px 370px 0 0 rgba(255, 255, 255, 1),
      190px 370px 0 0 rgba(255, 255, 255, 1),
      240px 370px 0 0 rgba(255, 255, 255, 1),
      250px 370px 0 0 rgba(255, 255, 255, 1),
      260px 370px 0 0 rgba(255, 255, 255, 1),
      290px 370px 0 0 rgba(255, 255, 255, 1),
      320px 370px 0 0 rgba(255, 255, 255, 1),
      120px 380px 0 0 rgba(158, 158, 158, 1),
      130px 380px 0 0 rgba(255, 255, 255, 1),
      160px 380px 0 0 rgba(255, 255, 255, 1),
      170px 380px 0 0 rgba(255, 255, 255, 1),
      270px 380px 0 0 rgba(255, 255, 255, 1),
      280px 380px 0 0 rgba(255, 255, 255, 1),
      290px 380px 0 0 rgba(158, 158, 158, 1),
      300px 380px 0 0 rgba(255, 255, 255, 1),
      310px 380px 0 0 rgba(255, 255, 255, 1),
      320px 380px 0 0 rgba(158, 158, 158, 1),
      120px 390px 0 0 rgba(255, 255, 255, 1),
      140px 390px 0 0 rgba(255, 255, 255, 1),
      150px 390px 0 0 rgba(255, 255, 255, 1),
      290px 390px 0 0 rgba(255, 255, 255, 1),
      300px 390px 0 0 rgba(255, 255, 255, 1),
      310px 390px 0 0 rgba(255, 255, 255, 1),
      110px 400px 0 0 rgba(255, 255, 255, 1),
      120px 400px 0 0 rgba(255, 255, 255, 1),
      130px 400px 0 0 rgba(255, 255, 255, 1),
      310px 400px 0 0 rgba(255, 255, 255, 1),
      100px 410px 0 0 rgba(255, 255, 255, 1),
      320px 410px 0 0 rgba(255, 255, 255, 1),
      90px 420px 0 0 rgba(255, 255, 255, 1),
      330px 420px 0 0 rgba(255, 255, 255, 1),
      80px 430px 0 0 rgba(255, 255, 255, 1),
      340px 430px 0 0 rgba(255, 255, 255, 1),
      70px 440px 0 0 rgba(255, 255, 255, 1),
      350px 440px 0 0 rgba(255, 255, 255, 1),
      60px 450px 0 0 rgba(255, 255, 255, 1),
      360px 450px 0 0 rgba(255, 255, 255, 1),
      50px 460px 0 0 rgba(255, 255, 255, 1),
      370px 460px 0 0 rgba(255, 255, 255, 1),
      40px 470px 0 0 rgba(255, 255, 255, 1),
      380px 470px 0 0 rgba(255, 255, 255, 1),
      30px 480px 0 0 rgba(255, 255, 255, 1),
      390px 480px 0 0 rgba(255, 255, 255, 1),
      20px 490px 0 0 rgba(255, 255, 255, 1),
      400px 490px 0 0 rgba(255, 255, 255, 1),
      10px 500px 0 0 rgba(255, 255, 255, 1),
      410px 500px 0 0 rgba(255, 255, 255, 1);
    height: 10px;
    width: 10px;
  } */
}
