/* moblie first */
body {
  background-image: linear-gradient(#392d69, #b57bee);
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  display: flex;
  justify-content: center;
  color: #919bff;
  font-family: Arial, Helvetica, sans-serif;
}

.pfp-flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-image-flex {
  display: flex;
  justify-content: center;
}

/* image styling */
.image {
  border-radius: 10px;
  border-style: solid;
  border-color: #392d69;
  border-width: 5px;
  /* box-shadow: 10px 10px 10px 10px; */
}

/* .container:hover .ms-muffet-overlay {
  opacity: 1;
} */

.bubble {
  border-radius: 15px;
  background: #fff;
  box-shadow: 10px 10px #392d69;
}

.section {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 5px;
}

.link {
  color: #392d69;
  font-weight: bold;
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

p {
  text-indent: 20px;
  margin: 10px;
}

/* desktop view */
@media all and (min-width: 480px) {
  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-flexbox {
    display: flex;
    flex: 30%;
    justify-content: space-around;
  }
}
