:root {
  --darkest-color: rgba(0, 0, 0, 1);
  --medium-color: #392d69;
  --deep-color: #2e225c;
  --bubble-color: rgb(50, 32, 70);

  --highlight: #b57bee;
  --periwinkle: #919bff;

  --bow-shirt: rgba(255, 0, 0, 1);
  --legs-eyes: rgba(103, 58, 183, 1);
  --pants: rgba(233, 30, 99, 1);
  --web: rgba(255, 255, 255, 1);
  --skin-web: rgba(158, 158, 158, 1);
}

/* moblie first */
body {
  background-image: linear-gradient(
    var(--darkest-color),
    var(--medium-color),
    var(--highlight)
  );
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.d-center {
  display: block;
}

.menu {
  position: absolute;
  top: 0rem;
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
}

button {
  background: transparent;
  border: none;
}

.hamburger {
  position: absolute;
}

.menu:hover nav {
  display: flex;
}

nav ul li a {
  text-decoration: none;
}

ul {
  background-color: var(--periwinkle);
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: inherit;
  font-weight: inherit;
  padding: 1rem;
}

li:hover,
a:hover {
  background-color: var(--deep-color);
  color: var(--bow-shirt);
}

a {
  color: inherit;
}

.section-title {
  text-align: center;
  color: var(--periwinkle);
  font-family: Arial, Helvetica, sans-serif;
}

/* Container to hover over to show MsMuffet */
.container {
  padding-bottom: 1rem;
}

/* image styling */
.image {
  border-width: 0.313rem;
  max-width: 12rem;
}

.border {
  border-color: var(--medium-color);
  border-radius: 0.938rem;
  border-style: solid;
}

/* ms-muffet hover overlay */
.container:hover .ms-muffet-overlay {
  opacity: 1;
}

/* text bubble design */
.bubble {
  color: white;
  border-radius: 0.938rem;
  padding: 0 1rem 1rem 1rem;
  background: var(--bubble-color);
  box-shadow: 0.625rem 0.625rem black;
  margin: 1rem 1rem;
  min-width: 10rem;
}

.sub-bubble {
  background-color: var(--highlight);
  box-shadow: 0.625rem 0.625rem var(--darkest-color);
  border-radius: 4rem;
}

/* code stack */

.wrap {
  flex-wrap: wrap;
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: var(--darkest-color);
}

.projects-flexbox {
  align-items: center;
  flex-direction: column;
  padding: 0.938rem;
}

p {
  text-indent: 1.25rem;
  margin: 0.625rem;
}

footer {
  color: var(--periwinkle);
  background-color: var(--bubble-color);
  font-size: 1.125rem;
  text-align: center;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  right: 0;
  left: 0;
}

/* for tools in footer*/
.tools {
  align-items: center;
  flex-wrap: wrap;
}

.whole-article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 100rem));
  margin: 0 5rem 0 5rem;
}

.disappear {
  display: none;
}

.appear {
  /* display: block; */
  display: flex;
}

/* desktop view */
@media all and (min-width: 480px) {
  .d-center {
    display: flex;
    justify-content: center;
  }

  ul {
    overflow: hidden;
  }

  li {
    float: left;
  }

  .flex {
    display: flex;
  }

  .whole-article {
    margin: 0 5rem 0 5rem;
  }

  .row {
    flex-direction: row;
  }

  .col {
    flex-direction: column;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
  }

  .project-flexbox {
    margin: 2rem;
  }
}

/* does not display hover message */
.disappear {
  display: none;
}

.appear {
  display: flex;
}

/* larger desktop view */
@media all and (min-width: 1200px) {
  /* displays hover message*/
  .disappear {
    display: flex;
  }

  .appear {
    display: none;
  }

  /*hover message  */
  .hover-message {
    color: white;
    font-family: sans;
  }

  /* left-web */
  .left-web {
    justify-content: flex-end;
    box-shadow: 12.5rem 0.625rem 0 0 var(--web), 12.5rem 1.25rem 0 0 var(--web),
      12.5rem 1.875rem 0 0 var(--web), 27.5rem 1.875rem 0 0 var(--web),
      12.5rem 2.5rem 0 0 var(--web), 26.875rem 2.5rem 0 0 var(--web),
      12.5rem 3.125rem 0 0 var(--web), 26.25rem 3.125rem 0 0 var(--web),
      12.5rem 3.75rem 0 0 var(--web), 25.625rem 3.75rem 0 0 var(--web),
      12.5rem 4.375rem 0 0 var(--web), 25rem 4.375rem 0 0 var(--web),
      12.5rem 5rem 0 0 var(--web), 24.375rem 5rem 0 0 var(--web),
      12.5rem 5.625rem 0 0 var(--web), 23.75rem 5.625rem 0 0 var(--web),
      12.5rem 6.25rem 0 0 var(--web), 23.125rem 6.25rem 0 0 var(--web),
      12.5rem 6.875rem 0 0 var(--web), 22.5rem 6.875rem 0 0 var(--web),
      12.5rem 7.5rem 0 0 var(--web), 21.875rem 7.5rem 0 0 var(--web),
      22.5rem 7.5rem 0 0 var(--web), 11.875rem 8.125rem 0 0 var(--web),
      12.5rem 8.125rem 0 0 var(--web), 13.125rem 8.125rem 0 0 var(--web),
      20.625rem 8.125rem 0 0 var(--web), 21.25rem 8.125rem 0 0 var(--web),
      21.875rem 8.125rem 0 0 var(--web), 11.875rem 8.75rem 0 0 var(--web),
      12.5rem 8.75rem 0 0 var(--skin-web), 13.125rem 8.75rem 0 0 var(--web),
      13.75rem 8.75rem 0 0 var(--web), 20.625rem 8.75rem 0 0 var(--web),
      21.25rem 8.75rem 0 0 var(--skin-web), 21.875rem 8.75rem 0 0 var(--web),
      0.625rem 9.375rem 0 0 var(--web), 11.25rem 9.375rem 0 0 var(--web),
      13.125rem 9.375rem 0 0 var(--web), 13.75rem 9.375rem 0 0 var(--skin-web),
      14.375rem 9.375rem 0 0 var(--web), 20rem 9.375rem 0 0 var(--web),
      20.625rem 9.375rem 0 0 var(--web), 21.25rem 9.375rem 0 0 var(--web),
      1.25rem 10rem 0 0 var(--web), 10.625rem 10rem 0 0 var(--web),
      11.25rem 10rem 0 0 var(--web), 13.125rem 10rem 0 0 var(--web),
      14.375rem 10rem 0 0 var(--skin-web), 15rem 10rem 0 0 var(--web),
      18.125rem 10rem 0 0 var(--web), 18.75rem 10rem 0 0 var(--web),
      19.375rem 10rem 0 0 var(--web), 20rem 10rem 0 0 var(--web),
      20.625rem 10rem 0 0 var(--skin-web), 21.25rem 10rem 0 0 var(--web),
      1.875rem 10.625rem 0 0 var(--web), 10rem 10.625rem 0 0 var(--web),
      10.625rem 10.625rem 0 0 var(--web), 13.125rem 10.625rem 0 0 var(--web),
      13.75rem 10.625rem 0 0 var(--skin-web),
      15rem 10.625rem 0 0 var(--skin-web), 15.625rem 10.625rem 0 0 var(--web),
      16.25rem 10.625rem 0 0 var(--web), 16.875rem 10.625rem 0 0 var(--web),
      17.5rem 10.625rem 0 0 var(--web), 18.125rem 10.625rem 0 0 var(--web),
      18.75rem 10.625rem 0 0 var(--web), 19.375rem 10.625rem 0 0 var(--skin-web),
      20rem 10.625rem 0 0 var(--web), 20.625rem 10.625rem 0 0 var(--skin-web),
      21.25rem 10.625rem 0 0 var(--web), 2.5rem 11.25rem 0 0 var(--web),
      8.75rem 11.25rem 0 0 var(--web), 9.375rem 11.25rem 0 0 var(--web),
      10rem 11.25rem 0 0 var(--web), 10.625rem 11.25rem 0 0 var(--web),
      13.125rem 11.25rem 0 0 var(--web), 13.75rem 11.25rem 0 0 var(--skin-web),
      15.625rem 11.25rem 0 0 var(--web), 20rem 11.25rem 0 0 var(--web),
      21.25rem 11.25rem 0 0 var(--web), 3.125rem 11.875rem 0 0 var(--web),
      7.5rem 11.875rem 0 0 var(--web), 8.125rem 11.875rem 0 0 var(--web),
      9.375rem 11.875rem 0 0 var(--web), 10rem 11.875rem 0 0 var(--skin-web),
      13.125rem 11.875rem 0 0 var(--web), 13.75rem 11.875rem 0 0 var(--skin-web),
      15.625rem 11.875rem 0 0 var(--web), 19.375rem 11.875rem 0 0 var(--web),
      21.25rem 11.875rem 0 0 var(--web), 3.75rem 12.5rem 0 0 var(--web),
      4.375rem 12.5rem 0 0 var(--web), 5rem 12.5rem 0 0 var(--web),
      6.875rem 12.5rem 0 0 var(--web), 7.5rem 12.5rem 0 0 var(--skin-web),
      10rem 12.5rem 0 0 var(--web), 10.625rem 12.5rem 0 0 var(--skin-web),
      11.25rem 12.5rem 0 0 var(--skin-web),
      11.875rem 12.5rem 0 0 var(--skin-web), 12.5rem 12.5rem 0 0 var(--web),
      13.125rem 12.5rem 0 0 var(--web), 13.75rem 12.5rem 0 0 var(--skin-web),
      14.375rem 12.5rem 0 0 var(--skin-web), 15.625rem 12.5rem 0 0 var(--web),
      18.75rem 12.5rem 0 0 var(--web), 21.25rem 12.5rem 0 0 var(--web),
      5rem 13.125rem 0 0 var(--web), 5.625rem 13.125rem 0 0 var(--web),
      6.25rem 13.125rem 0 0 var(--web), 6.875rem 13.125rem 0 0 var(--web),
      7.5rem 13.125rem 0 0 var(--web), 8.125rem 13.125rem 0 0 var(--skin-web),
      10.625rem 13.125rem 0 0 var(--web), 11.25rem 13.125rem 0 0 var(--web),
      12.5rem 13.125rem 0 0 var(--web), 13.125rem 13.125rem 0 0 var(--web),
      13.75rem 13.125rem 0 0 var(--web), 14.375rem 13.125rem 0 0 var(--web),
      15rem 13.125rem 0 0 var(--web), 15.625rem 13.125rem 0 0 var(--web),
      16.25rem 13.125rem 0 0 var(--web), 16.875rem 13.125rem 0 0 var(--web),
      17.5rem 13.125rem 0 0 var(--web), 18.125rem 13.125rem 0 0 var(--web),
      18.75rem 13.125rem 0 0 var(--web), 21.25rem 13.125rem 0 0 var(--web),
      21.875rem 13.125rem 0 0 var(--web), 5rem 13.75rem 0 0 var(--web),
      5.625rem 13.75rem 0 0 var(--skin-web), 8.125rem 13.75rem 0 0 var(--web),
      8.75rem 13.75rem 0 0 var(--skin-web),
      9.375rem 13.75rem 0 0 var(--skin-web), 10rem 13.75rem 0 0 var(--skin-web),
      10.625rem 13.75rem 0 0 var(--web), 13.75rem 13.75rem 0 0 var(--web),
      14.375rem 13.75rem 0 0 var(--web), 17.5rem 13.75rem 0 0 var(--web),
      18.125rem 13.75rem 0 0 var(--skin-web), 18.75rem 13.75rem 0 0 var(--web),
      19.375rem 13.75rem 0 0 var(--web), 20rem 13.75rem 0 0 var(--web),
      20.625rem 13.75rem 0 0 var(--web), 21.25rem 13.75rem 0 0 var(--web),
      21.875rem 13.75rem 0 0 var(--web), 5.625rem 14.375rem 0 0 var(--web),
      8.75rem 14.375rem 0 0 var(--web), 9.375rem 14.375rem 0 0 var(--web),
      10rem 14.375rem 0 0 var(--web), 13.125rem 14.375rem 0 0 var(--web),
      13.75rem 14.375rem 0 0 var(--skin-web),
      14.375rem 14.375rem 0 0 var(--skin-web), 15rem 14.375rem 0 0 var(--web),
      17.5rem 14.375rem 0 0 var(--web), 18.75rem 14.375rem 0 0 var(--web),
      20rem 14.375rem 0 0 var(--web), 21.25rem 14.375rem 0 0 var(--skin-web),
      21.875rem 14.375rem 0 0 var(--web), 5.625rem 15rem 0 0 var(--web),
      6.25rem 15rem 0 0 var(--web), 9.375rem 15rem 0 0 var(--web),
      12.5rem 15rem 0 0 var(--web), 13.125rem 15rem 0 0 var(--skin-web),
      15rem 15rem 0 0 var(--skin-web), 15.625rem 15rem 0 0 var(--web),
      16.25rem 15rem 0 0 var(--web), 16.875rem 15rem 0 0 var(--web),
      18.75rem 15rem 0 0 var(--web), 20rem 15rem 0 0 var(--web),
      21.25rem 15rem 0 0 var(--skin-web), 21.875rem 15rem 0 0 var(--web),
      6.25rem 15.625rem 0 0 var(--web), 9.375rem 15.625rem 0 0 var(--web),
      10rem 15.625rem 0 0 var(--web), 10.625rem 15.625rem 0 0 var(--web),
      11.25rem 15.625rem 0 0 var(--web), 11.875rem 15.625rem 0 0 var(--web),
      12.5rem 15.625rem 0 0 var(--skin-web), 15rem 15.625rem 0 0 var(--skin-web),
      15.625rem 15.625rem 0 0 var(--skin-web),
      16.25rem 15.625rem 0 0 var(--skin-web), 16.875rem 15.625rem 0 0 var(--web),
      17.5rem 15.625rem 0 0 var(--web), 18.125rem 15.625rem 0 0 var(--web),
      19.375rem 15.625rem 0 0 var(--web), 22.5rem 15.625rem 0 0 var(--web),
      6.25rem 16.25rem 0 0 var(--web), 6.875rem 16.25rem 0 0 var(--web),
      9.375rem 16.25rem 0 0 var(--web), 12.5rem 16.25rem 0 0 var(--web),
      13.125rem 16.25rem 0 0 var(--web), 13.75rem 16.25rem 0 0 var(--web),
      14.375rem 16.25rem 0 0 var(--web), 15rem 16.25rem 0 0 var(--skin-web),
      15.625rem 16.25rem 0 0 var(--skin-web), 16.25rem 16.25rem 0 0 var(--web),
      18.75rem 16.25rem 0 0 var(--web), 19.375rem 16.25rem 0 0 var(--web),
      20rem 16.25rem 0 0 var(--skin-web), 22.5rem 16.25rem 0 0 var(--web),
      6.875rem 16.875rem 0 0 var(--web), 9.375rem 16.875rem 0 0 var(--web),
      12.5rem 16.875rem 0 0 var(--web), 15rem 16.875rem 0 0 var(--skin-web),
      15.625rem 16.875rem 0 0 var(--skin-web),
      16.875rem 16.875rem 0 0 var(--web), 17.5rem 16.875rem 0 0 var(--web),
      18.125rem 16.875rem 0 0 var(--skin-web),
      18.75rem 16.875rem 0 0 var(--skin-web),
      19.375rem 16.875rem 0 0 var(--skin-web), 20rem 16.875rem 0 0 var(--web),
      20.625rem 16.875rem 0 0 var(--web), 21.25rem 16.875rem 0 0 var(--web),
      21.875rem 16.875rem 0 0 var(--web), 22.5rem 16.875rem 0 0 var(--web),
      23.125rem 16.875rem 0 0 var(--web), 6.875rem 17.5rem 0 0 var(--web),
      9.375rem 17.5rem 0 0 var(--web), 10rem 17.5rem 0 0 var(--web),
      12.5rem 17.5rem 0 0 var(--web), 13.75rem 17.5rem 0 0 var(--skin-web),
      14.375rem 17.5rem 0 0 var(--web), 15.625rem 17.5rem 0 0 var(--web),
      16.25rem 17.5rem 0 0 var(--web), 16.875rem 17.5rem 0 0 var(--skin-web),
      17.5rem 17.5rem 0 0 var(--web), 20rem 17.5rem 0 0 var(--web),
      20.625rem 17.5rem 0 0 var(--skin-web),
      21.25rem 17.5rem 0 0 var(--skin-web),
      23.125rem 17.5rem 0 0 var(--skin-web), 23.75rem 17.5rem 0 0 var(--web),
      24.375rem 17.5rem 0 0 var(--web), 25rem 17.5rem 0 0 var(--web),
      6.875rem 18.125rem 0 0 var(--web), 8.75rem 18.125rem 0 0 var(--web),
      9.375rem 18.125rem 0 0 var(--skin-web), 10rem 18.125rem 0 0 var(--web),
      12.5rem 18.125rem 0 0 var(--web), 13.125rem 18.125rem 0 0 var(--web),
      13.75rem 18.125rem 0 0 var(--web), 16.25rem 18.125rem 0 0 var(--web),
      16.875rem 18.125rem 0 0 var(--web), 20rem 18.125rem 0 0 var(--web),
      23.75rem 18.125rem 0 0 var(--skin-web),
      24.375rem 18.125rem 0 0 var(--skin-web), 25rem 18.125rem 0 0 var(--web),
      25.625rem 18.125rem 0 0 var(--web), 26.25rem 18.125rem 0 0 var(--web),
      26.875rem 18.125rem 0 0 var(--web), 27.5rem 18.125rem 0 0 var(--web),
      6.875rem 18.75rem 0 0 var(--web), 7.5rem 18.75rem 0 0 var(--web),
      8.125rem 18.75rem 0 0 var(--web), 10rem 18.75rem 0 0 var(--web),
      12.5rem 18.75rem 0 0 var(--web), 13.125rem 18.75rem 0 0 var(--skin-web),
      13.75rem 18.75rem 0 0 var(--skin-web), 14.375rem 18.75rem 0 0 var(--web),
      15rem 18.75rem 0 0 var(--web), 15.625rem 18.75rem 0 0 var(--web),
      16.25rem 18.75rem 0 0 var(--skin-web), 16.875rem 18.75rem 0 0 var(--web),
      19.375rem 18.75rem 0 0 var(--web), 23.125rem 18.75rem 0 0 var(--skin-web),
      23.75rem 18.75rem 0 0 var(--web), 24.375rem 18.75rem 0 0 var(--web),
      6.875rem 19.375rem 0 0 var(--web), 7.5rem 19.375rem 0 0 var(--skin-web),
      10rem 19.375rem 0 0 var(--web), 10.625rem 19.375rem 0 0 var(--web),
      11.25rem 19.375rem 0 0 var(--web), 11.875rem 19.375rem 0 0 var(--web),
      16.875rem 19.375rem 0 0 var(--web), 18.75rem 19.375rem 0 0 var(--web),
      19.375rem 19.375rem 0 0 var(--skin-web),
      22.5rem 19.375rem 0 0 var(--skin-web), 23.125rem 19.375rem 0 0 var(--web),
      7.5rem 20rem 0 0 var(--web), 10rem 20rem 0 0 var(--web),
      10.625rem 20rem 0 0 var(--skin-web), 16.875rem 20rem 0 0 var(--skin-web),
      17.5rem 20rem 0 0 var(--web), 18.125rem 20rem 0 0 var(--web),
      18.75rem 20rem 0 0 var(--skin-web), 19.375rem 20rem 0 0 var(--web),
      21.875rem 20rem 0 0 var(--skin-web), 22.5rem 20rem 0 0 var(--web),
      8.125rem 20.625rem 0 0 var(--web), 10rem 20.625rem 0 0 var(--web),
      10.625rem 20.625rem 0 0 var(--web), 11.25rem 20.625rem 0 0 var(--web),
      11.875rem 20.625rem 0 0 var(--web), 12.5rem 20.625rem 0 0 var(--web),
      13.125rem 20.625rem 0 0 var(--web), 13.75rem 20.625rem 0 0 var(--web),
      14.375rem 20.625rem 0 0 var(--web), 15rem 20.625rem 0 0 var(--web),
      15.625rem 20.625rem 0 0 var(--web), 16.25rem 20.625rem 0 0 var(--web),
      16.875rem 20.625rem 0 0 var(--web), 17.5rem 20.625rem 0 0 var(--web),
      18.125rem 20.625rem 0 0 var(--skin-web),
      19.375rem 20.625rem 0 0 var(--skin-web), 20rem 20.625rem 0 0 var(--web),
      20.625rem 20.625rem 0 0 var(--web), 21.875rem 20.625rem 0 0 var(--web),
      8.125rem 21.25rem 0 0 var(--web), 10rem 21.25rem 0 0 var(--web),
      10.625rem 21.25rem 0 0 var(--skin-web), 14.375rem 21.25rem 0 0 var(--web),
      16.875rem 21.25rem 0 0 var(--skin-web), 17.5rem 21.25rem 0 0 var(--web),
      18.125rem 21.25rem 0 0 var(--skin-web), 20rem 21.25rem 0 0 var(--skin-web),
      20.625rem 21.25rem 0 0 var(--web), 21.25rem 21.25rem 0 0 var(--web),
      21.875rem 21.25rem 0 0 var(--web), 8.125rem 21.875rem 0 0 var(--web),
      10rem 21.875rem 0 0 var(--web), 14.375rem 21.875rem 0 0 var(--web),
      16.875rem 21.875rem 0 0 var(--skin-web), 17.5rem 21.875rem 0 0 var(--web),
      20.625rem 21.875rem 0 0 var(--skin-web), 21.25rem 21.875rem 0 0 var(--web),
      8.125rem 22.5rem 0 0 var(--web), 9.375rem 22.5rem 0 0 var(--web),
      12.5rem 22.5rem 0 0 var(--web), 13.125rem 22.5rem 0 0 var(--web),
      13.75rem 22.5rem 0 0 var(--web), 14.375rem 22.5rem 0 0 var(--web),
      17.5rem 22.5rem 0 0 var(--skin-web), 18.125rem 22.5rem 0 0 var(--web),
      20.625rem 22.5rem 0 0 var(--web), 8.125rem 23.125rem 0 0 var(--web),
      8.75rem 23.125rem 0 0 var(--web), 11.25rem 23.125rem 0 0 var(--web),
      11.875rem 23.125rem 0 0 var(--web), 15rem 23.125rem 0 0 var(--web),
      15.625rem 23.125rem 0 0 var(--web), 16.25rem 23.125rem 0 0 var(--web),
      18.125rem 23.125rem 0 0 var(--web), 20rem 23.125rem 0 0 var(--web),
      7.5rem 23.75rem 0 0 var(--skin-web), 8.125rem 23.75rem 0 0 var(--web),
      10rem 23.75rem 0 0 var(--web), 10.625rem 23.75rem 0 0 var(--web),
      16.875rem 23.75rem 0 0 var(--web), 17.5rem 23.75rem 0 0 var(--web),
      18.125rem 23.75rem 0 0 var(--skin-web), 18.75rem 23.75rem 0 0 var(--web),
      19.375rem 23.75rem 0 0 var(--web), 20rem 23.75rem 0 0 var(--skin-web),
      7.5rem 24.375rem 0 0 var(--web), 8.75rem 24.375rem 0 0 var(--web),
      9.375rem 24.375rem 0 0 var(--web), 18.125rem 24.375rem 0 0 var(--web),
      18.75rem 24.375rem 0 0 var(--web), 19.375rem 24.375rem 0 0 var(--web),
      6.875rem 25rem 0 0 var(--web), 7.5rem 25rem 0 0 var(--web),
      8.125rem 25rem 0 0 var(--web), 19.375rem 25rem 0 0 var(--web),
      6.25rem 25.625rem 0 0 var(--web), 20rem 25.625rem 0 0 var(--web),
      5.625rem 26.25rem 0 0 var(--web), 20.625rem 26.25rem 0 0 var(--web),
      5rem 26.875rem 0 0 var(--web), 21.25rem 26.875rem 0 0 var(--web),
      4.375rem 27.5rem 0 0 var(--web), 21.875rem 27.5rem 0 0 var(--web),
      3.75rem 28.125rem 0 0 var(--web), 22.5rem 28.125rem 0 0 var(--web),
      3.125rem 28.75rem 0 0 var(--web), 23.125rem 28.75rem 0 0 var(--web),
      2.5rem 29.375rem 0 0 var(--web), 23.75rem 29.375rem 0 0 var(--web),
      1.875rem 30rem 0 0 var(--web), 24.375rem 30rem 0 0 var(--web),
      1.25rem 30.625rem 0 0 var(--web), 25rem 30.625rem 0 0 var(--web),
      0.625rem 31.25rem 0 0 var(--web), 25.625rem 31.25rem 0 0 var(--web);
    height: 0.625rem;
    width: 0.625rem;
  }

  /* ms-muffect overlay */
  .ms-muffet-overlay {
    position: absolute;
    top: 0.625rem;
    bottom: 200px;
    left: 0px;
    right: 100px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    box-shadow: 11.5625rem 5rem 0 0 var(--bow-shirt),
      18.4375rem 5rem 0 0 var(--bow-shirt),
      9.0625rem 5.625rem 0 0 var(--darkest-color),
      9.6875rem 5.625rem 0 0 var(--darkest-color),
      10.3125rem 5.625rem 0 0 var(--darkest-color),
      10.9375rem 5.625rem 0 0 var(--bow-shirt),
      11.5625rem 5.625rem 0 0 var(--bow-shirt),
      12.1875rem 5.625rem 0 0 var(--bow-shirt),
      17.8125rem 5.625rem 0 0 var(--bow-shirt),
      18.4375rem 5.625rem 0 0 var(--bow-shirt),
      19.0625rem 5.625rem 0 0 var(--bow-shirt),
      19.6875rem 5.625rem 0 0 var(--darkest-color),
      20.3125rem 5.625rem 0 0 var(--darkest-color),
      20.9375rem 5.625rem 0 0 var(--darkest-color),
      8.4375rem 6.25rem 0 0 var(--darkest-color),
      9.0625rem 6.25rem 0 0 var(--darkest-color),
      9.6875rem 6.25rem 0 0 var(--darkest-color),
      10.3125rem 6.25rem 0 0 var(--darkest-color),
      10.9375rem 6.25rem 0 0 var(--darkest-color),
      11.5625rem 6.25rem 0 0 var(--bow-shirt),
      12.1875rem 6.25rem 0 0 var(--bow-shirt),
      12.8125rem 6.25rem 0 0 var(--bow-shirt),
      17.1875rem 6.25rem 0 0 var(--bow-shirt),
      17.8125rem 6.25rem 0 0 var(--bow-shirt),
      18.4375rem 6.25rem 0 0 var(--bow-shirt),
      19.0625rem 6.25rem 0 0 var(--darkest-color),
      19.6875rem 6.25rem 0 0 var(--darkest-color),
      20.3125rem 6.25rem 0 0 var(--darkest-color),
      20.9375rem 6.25rem 0 0 var(--darkest-color),
      21.5625rem 6.25rem 0 0 var(--darkest-color),
      22.1875rem 6.25rem 0 0 var(--darkest-color),
      7.8125rem 6.875rem 0 0 var(--darkest-color),
      8.4375rem 6.875rem 0 0 var(--darkest-color),
      9.0625rem 6.875rem 0 0 var(--darkest-color),
      9.6875rem 6.875rem 0 0 var(--darkest-color),
      10.3125rem 6.875rem 0 0 var(--darkest-color),
      10.9375rem 6.875rem 0 0 var(--bow-shirt),
      11.5625rem 6.875rem 0 0 var(--bow-shirt),
      12.1875rem 6.875rem 0 0 var(--bow-shirt),
      12.8125rem 6.875rem 0 0 var(--bow-shirt),
      13.4375rem 6.875rem 0 0 var(--darkest-color),
      14.0625rem 6.875rem 0 0 var(--darkest-color),
      14.6875rem 6.875rem 0 0 var(--darkest-color),
      15.3125rem 6.875rem 0 0 var(--darkest-color),
      15.9375rem 6.875rem 0 0 var(--darkest-color),
      16.5625rem 6.875rem 0 0 var(--darkest-color),
      17.1875rem 6.875rem 0 0 var(--bow-shirt),
      17.8125rem 6.875rem 0 0 var(--bow-shirt),
      18.4375rem 6.875rem 0 0 var(--bow-shirt),
      19.0625rem 6.875rem 0 0 var(--bow-shirt),
      19.6875rem 6.875rem 0 0 var(--darkest-color),
      20.3125rem 6.875rem 0 0 var(--darkest-color),
      20.9375rem 6.875rem 0 0 var(--darkest-color),
      21.5625rem 6.875rem 0 0 var(--darkest-color),
      22.1875rem 6.875rem 0 0 var(--darkest-color),
      7.8125rem 7.5rem 0 0 var(--darkest-color),
      8.4375rem 7.5rem 0 0 var(--darkest-color),
      9.0625rem 7.5rem 0 0 var(--darkest-color),
      9.6875rem 7.5rem 0 0 var(--bow-shirt),
      10.3125rem 7.5rem 0 0 var(--bow-shirt),
      10.9375rem 7.5rem 0 0 var(--bow-shirt),
      11.5625rem 7.5rem 0 0 var(--bow-shirt),
      12.1875rem 7.5rem 0 0 var(--darkest-color),
      12.8125rem 7.5rem 0 0 var(--darkest-color),
      13.4375rem 7.5rem 0 0 var(--darkest-color),
      14.0625rem 7.5rem 0 0 var(--darkest-color),
      14.6875rem 7.5rem 0 0 var(--darkest-color),
      15.3125rem 7.5rem 0 0 var(--darkest-color),
      15.9375rem 7.5rem 0 0 var(--darkest-color),
      16.5625rem 7.5rem 0 0 var(--darkest-color),
      17.1875rem 7.5rem 0 0 var(--darkest-color),
      17.8125rem 7.5rem 0 0 var(--darkest-color),
      18.4375rem 7.5rem 0 0 var(--pants), 19.0625rem 7.5rem 0 0 var(--bow-shirt),
      19.6875rem 7.5rem 0 0 var(--bow-shirt),
      20.3125rem 7.5rem 0 0 var(--bow-shirt),
      20.9375rem 7.5rem 0 0 var(--darkest-color),
      21.5625rem 7.5rem 0 0 var(--darkest-color),
      22.1875rem 7.5rem 0 0 var(--darkest-color),
      7.8125rem 8.125rem 0 0 var(--darkest-color),
      8.4375rem 8.125rem 0 0 var(--darkest-color),
      9.6875rem 8.125rem 0 0 var(--bow-shirt),
      10.3125rem 8.125rem 0 0 var(--bow-shirt),
      10.9375rem 8.125rem 0 0 var(--bow-shirt),
      11.5625rem 8.125rem 0 0 var(--darkest-color),
      12.1875rem 8.125rem 0 0 var(--darkest-color),
      12.8125rem 8.125rem 0 0 var(--darkest-color),
      13.4375rem 8.125rem 0 0 var(--darkest-color),
      14.0625rem 8.125rem 0 0 var(--darkest-color),
      14.6875rem 8.125rem 0 0 var(--darkest-color),
      15.3125rem 8.125rem 0 0 var(--darkest-color),
      15.9375rem 8.125rem 0 0 var(--darkest-color),
      16.5625rem 8.125rem 0 0 var(--skin-web),
      17.1875rem 8.125rem 0 0 var(--darkest-color),
      17.8125rem 8.125rem 0 0 var(--darkest-color),
      18.4375rem 8.125rem 0 0 var(--darkest-color),
      19.0625rem 8.125rem 0 0 var(--bow-shirt),
      19.6875rem 8.125rem 0 0 var(--bow-shirt),
      20.3125rem 8.125rem 0 0 var(--bow-shirt),
      21.5625rem 8.125rem 0 0 var(--darkest-color),
      22.1875rem 8.125rem 0 0 var(--darkest-color),
      10.3125rem 8.75rem 0 0 var(--bow-shirt),
      10.9375rem 8.75rem 0 0 var(--darkest-color),
      11.5625rem 8.75rem 0 0 var(--darkest-color),
      12.1875rem 8.75rem 0 0 var(--darkest-color),
      12.8125rem 8.75rem 0 0 var(--darkest-color),
      13.4375rem 8.75rem 0 0 var(--skin-web),
      14.0625rem 8.75rem 0 0 var(--skin-web),
      14.6875rem 8.75rem 0 0 var(--skin-web),
      15.3125rem 8.75rem 0 0 var(--skin-web),
      15.9375rem 8.75rem 0 0 var(--skin-web),
      16.5625rem 8.75rem 0 0 var(--skin-web),
      17.1875rem 8.75rem 0 0 var(--skin-web),
      17.8125rem 8.75rem 0 0 var(--darkest-color),
      18.4375rem 8.75rem 0 0 var(--darkest-color),
      19.0625rem 8.75rem 0 0 var(--bow-shirt),
      19.6875rem 8.75rem 0 0 var(--bow-shirt),
      10.3125rem 9.375rem 0 0 var(--darkest-color),
      10.9375rem 9.375rem 0 0 var(--darkest-color),
      11.5625rem 9.375rem 0 0 var(--darkest-color),
      12.1875rem 9.375rem 0 0 var(--darkest-color),
      12.8125rem 9.375rem 0 0 var(--skin-web),
      13.4375rem 9.375rem 0 0 var(--skin-web),
      14.0625rem 9.375rem 0 0 var(--skin-web),
      14.6875rem 9.375rem 0 0 var(--legs-eyes),
      15.3125rem 9.375rem 0 0 var(--legs-eyes),
      15.9375rem 9.375rem 0 0 var(--skin-web),
      16.5625rem 9.375rem 0 0 var(--skin-web),
      17.1875rem 9.375rem 0 0 var(--skin-web),
      17.8125rem 9.375rem 0 0 var(--skin-web),
      18.4375rem 9.375rem 0 0 var(--darkest-color),
      19.0625rem 9.375rem 0 0 var(--darkest-color),
      19.6875rem 9.375rem 0 0 var(--darkest-color),
      10.3125rem 10rem 0 0 var(--darkest-color),
      10.9375rem 10rem 0 0 var(--darkest-color),
      11.5625rem 10rem 0 0 var(--darkest-color),
      12.1875rem 10rem 0 0 var(--skin-web),
      12.8125rem 10rem 0 0 var(--legs-eyes),
      13.4375rem 10rem 0 0 var(--skin-web), 14.0625rem 10rem 0 0 var(--skin-web),
      14.6875rem 10rem 0 0 var(--legs-eyes),
      15.3125rem 10rem 0 0 var(--legs-eyes),
      15.9375rem 10rem 0 0 var(--skin-web), 16.5625rem 10rem 0 0 var(--skin-web),
      17.1875rem 10rem 0 0 var(--legs-eyes),
      17.8125rem 10rem 0 0 var(--skin-web),
      18.4375rem 10rem 0 0 var(--darkest-color),
      19.0625rem 10rem 0 0 var(--darkest-color),
      19.6875rem 10rem 0 0 var(--darkest-color),
      9.6875rem 10.625rem 0 0 var(--darkest-color),
      10.3125rem 10.625rem 0 0 var(--darkest-color),
      10.9375rem 10.625rem 0 0 var(--darkest-color),
      11.5625rem 10.625rem 0 0 var(--darkest-color),
      12.1875rem 10.625rem 0 0 var(--skin-web),
      12.8125rem 10.625rem 0 0 var(--legs-eyes),
      13.4375rem 10.625rem 0 0 var(--legs-eyes),
      14.0625rem 10.625rem 0 0 var(--skin-web),
      14.6875rem 10.625rem 0 0 var(--legs-eyes),
      15.3125rem 10.625rem 0 0 var(--legs-eyes),
      15.9375rem 10.625rem 0 0 var(--skin-web),
      16.5625rem 10.625rem 0 0 var(--legs-eyes),
      17.1875rem 10.625rem 0 0 var(--legs-eyes),
      17.8125rem 10.625rem 0 0 var(--skin-web),
      18.4375rem 10.625rem 0 0 var(--darkest-color),
      19.0625rem 10.625rem 0 0 var(--darkest-color),
      19.6875rem 10.625rem 0 0 var(--darkest-color),
      20.3125rem 10.625rem 0 0 var(--darkest-color),
      9.6875rem 11.25rem 0 0 var(--darkest-color),
      10.3125rem 11.25rem 0 0 var(--darkest-color),
      10.9375rem 11.25rem 0 0 var(--darkest-color),
      11.5625rem 11.25rem 0 0 var(--skin-web),
      12.1875rem 11.25rem 0 0 var(--legs-eyes),
      12.8125rem 11.25rem 0 0 var(--skin-web),
      13.4375rem 11.25rem 0 0 var(--skin-web),
      14.0625rem 11.25rem 0 0 var(--skin-web),
      14.6875rem 11.25rem 0 0 var(--skin-web),
      15.3125rem 11.25rem 0 0 var(--skin-web),
      15.9375rem 11.25rem 0 0 var(--skin-web),
      16.5625rem 11.25rem 0 0 var(--skin-web),
      17.1875rem 11.25rem 0 0 var(--skin-web),
      17.8125rem 11.25rem 0 0 var(--legs-eyes),
      18.4375rem 11.25rem 0 0 var(--skin-web),
      19.0625rem 11.25rem 0 0 var(--darkest-color),
      19.6875rem 11.25rem 0 0 var(--darkest-color),
      20.3125rem 11.25rem 0 0 var(--darkest-color),
      8.4375rem 11.875rem 0 0 var(--darkest-color),
      9.0625rem 11.875rem 0 0 var(--darkest-color),
      9.6875rem 11.875rem 0 0 var(--darkest-color),
      10.3125rem 11.875rem 0 0 var(--darkest-color),
      10.9375rem 11.875rem 0 0 var(--darkest-color),
      11.5625rem 11.875rem 0 0 var(--skin-web),
      12.1875rem 11.875rem 0 0 var(--legs-eyes),
      12.8125rem 11.875rem 0 0 var(--legs-eyes),
      13.4375rem 11.875rem 0 0 var(--legs-eyes),
      14.0625rem 11.875rem 0 0 var(--skin-web),
      14.6875rem 11.875rem 0 0 var(--skin-web),
      15.3125rem 11.875rem 0 0 var(--skin-web),
      15.9375rem 11.875rem 0 0 var(--skin-web),
      16.5625rem 11.875rem 0 0 var(--legs-eyes),
      17.1875rem 11.875rem 0 0 var(--legs-eyes),
      17.8125rem 11.875rem 0 0 var(--legs-eyes),
      18.4375rem 11.875rem 0 0 var(--skin-web),
      19.0625rem 11.875rem 0 0 var(--darkest-color),
      19.6875rem 11.875rem 0 0 var(--darkest-color),
      20.3125rem 11.875rem 0 0 var(--darkest-color),
      20.9375rem 11.875rem 0 0 var(--darkest-color),
      21.5625rem 11.875rem 0 0 var(--darkest-color),
      9.0625rem 12.5rem 0 0 var(--darkest-color),
      9.6875rem 12.5rem 0 0 var(--darkest-color),
      10.3125rem 12.5rem 0 0 var(--darkest-color),
      10.9375rem 12.5rem 0 0 var(--darkest-color),
      11.5625rem 12.5rem 0 0 var(--skin-web),
      12.1875rem 12.5rem 0 0 var(--legs-eyes),
      12.8125rem 12.5rem 0 0 var(--legs-eyes),
      13.4375rem 12.5rem 0 0 var(--legs-eyes),
      14.0625rem 12.5rem 0 0 var(--legs-eyes),
      14.6875rem 12.5rem 0 0 var(--skin-web),
      15.3125rem 12.5rem 0 0 var(--skin-web),
      15.9375rem 12.5rem 0 0 var(--legs-eyes),
      16.5625rem 12.5rem 0 0 var(--legs-eyes),
      17.1875rem 12.5rem 0 0 var(--legs-eyes),
      17.8125rem 12.5rem 0 0 var(--legs-eyes),
      18.4375rem 12.5rem 0 0 var(--skin-web),
      19.0625rem 12.5rem 0 0 var(--darkest-color),
      19.6875rem 12.5rem 0 0 var(--darkest-color),
      20.3125rem 12.5rem 0 0 var(--darkest-color),
      20.9375rem 12.5rem 0 0 var(--darkest-color),
      9.0625rem 13.125rem 0 0 var(--darkest-color),
      9.6875rem 13.125rem 0 0 var(--darkest-color),
      10.3125rem 13.125rem 0 0 var(--darkest-color),
      10.9375rem 13.125rem 0 0 var(--darkest-color),
      11.5625rem 13.125rem 0 0 var(--skin-web),
      12.1875rem 13.125rem 0 0 var(--skin-web),
      12.8125rem 13.125rem 0 0 var(--legs-eyes),
      13.4375rem 13.125rem 0 0 var(--legs-eyes),
      14.0625rem 13.125rem 0 0 var(--skin-web),
      14.6875rem 13.125rem 0 0 var(--skin-web),
      15.3125rem 13.125rem 0 0 var(--skin-web),
      15.9375rem 13.125rem 0 0 var(--skin-web),
      16.5625rem 13.125rem 0 0 var(--legs-eyes),
      17.1875rem 13.125rem 0 0 var(--legs-eyes),
      17.8125rem 13.125rem 0 0 var(--skin-web),
      18.4375rem 13.125rem 0 0 var(--skin-web),
      19.0625rem 13.125rem 0 0 var(--darkest-color),
      19.6875rem 13.125rem 0 0 var(--darkest-color),
      20.3125rem 13.125rem 0 0 var(--darkest-color),
      20.9375rem 13.125rem 0 0 var(--darkest-color),
      9.0625rem 13.75rem 0 0 var(--darkest-color),
      9.6875rem 13.75rem 0 0 var(--darkest-color),
      10.3125rem 13.75rem 0 0 var(--darkest-color),
      10.9375rem 13.75rem 0 0 var(--darkest-color),
      11.5625rem 13.75rem 0 0 var(--darkest-color),
      12.1875rem 13.75rem 0 0 var(--skin-web),
      12.8125rem 13.75rem 0 0 var(--skin-web),
      13.4375rem 13.75rem 0 0 var(--skin-web),
      14.0625rem 13.75rem 0 0 var(--skin-web),
      14.6875rem 13.75rem 0 0 var(--skin-web),
      15.3125rem 13.75rem 0 0 var(--skin-web),
      15.9375rem 13.75rem 0 0 var(--skin-web),
      16.5625rem 13.75rem 0 0 var(--skin-web),
      17.1875rem 13.75rem 0 0 var(--skin-web),
      17.8125rem 13.75rem 0 0 var(--skin-web),
      18.4375rem 13.75rem 0 0 var(--darkest-color),
      19.0625rem 13.75rem 0 0 var(--darkest-color),
      19.6875rem 13.75rem 0 0 var(--darkest-color),
      20.3125rem 13.75rem 0 0 var(--darkest-color),
      9.6875rem 14.375rem 0 0 var(--darkest-color),
      10.3125rem 14.375rem 0 0 var(--darkest-color),
      10.9375rem 14.375rem 0 0 var(--darkest-color),
      11.5625rem 14.375rem 0 0 var(--darkest-color),
      12.1875rem 14.375rem 0 0 var(--skin-web),
      12.8125rem 14.375rem 0 0 var(--skin-web),
      13.4375rem 14.375rem 0 0 var(--darkest-color),
      14.0625rem 14.375rem 0 0 var(--skin-web),
      14.6875rem 14.375rem 0 0 var(--darkest-color),
      15.3125rem 14.375rem 0 0 var(--darkest-color),
      15.9375rem 14.375rem 0 0 var(--skin-web),
      16.5625rem 14.375rem 0 0 var(--darkest-color),
      17.1875rem 14.375rem 0 0 var(--skin-web),
      17.8125rem 14.375rem 0 0 var(--skin-web),
      18.4375rem 14.375rem 0 0 var(--darkest-color),
      19.0625rem 14.375rem 0 0 var(--darkest-color),
      19.6875rem 14.375rem 0 0 var(--darkest-color),
      20.3125rem 14.375rem 0 0 var(--darkest-color),
      10.9375rem 15rem 0 0 var(--darkest-color),
      11.5625rem 15rem 0 0 var(--darkest-color),
      12.1875rem 15rem 0 0 var(--darkest-color),
      12.8125rem 15rem 0 0 var(--skin-web), 13.4375rem 15rem 0 0 var(--skin-web),
      14.0625rem 15rem 0 0 var(--darkest-color),
      14.6875rem 15rem 0 0 var(--skin-web), 15.3125rem 15rem 0 0 var(--skin-web),
      15.9375rem 15rem 0 0 var(--darkest-color),
      16.5625rem 15rem 0 0 var(--skin-web), 17.1875rem 15rem 0 0 var(--skin-web),
      17.8125rem 15rem 0 0 var(--darkest-color),
      18.4375rem 15rem 0 0 var(--darkest-color),
      19.0625rem 15rem 0 0 var(--darkest-color),
      12.8125rem 15.625rem 0 0 var(--darkest-color),
      13.4375rem 15.625rem 0 0 var(--skin-web),
      14.0625rem 15.625rem 0 0 var(--skin-web),
      14.6875rem 15.625rem 0 0 var(--skin-web),
      15.3125rem 15.625rem 0 0 var(--skin-web),
      15.9375rem 15.625rem 0 0 var(--skin-web),
      16.5625rem 15.625rem 0 0 var(--skin-web),
      17.1875rem 15.625rem 0 0 var(--darkest-color),
      13.4375rem 16.25rem 0 0 var(--darkest-color),
      14.0625rem 16.25rem 0 0 var(--darkest-color),
      14.6875rem 16.25rem 0 0 var(--skin-web),
      15.3125rem 16.25rem 0 0 var(--skin-web),
      15.9375rem 16.25rem 0 0 var(--darkest-color),
      16.5625rem 16.25rem 0 0 var(--darkest-color),
      17.1875rem 16.25rem 0 0 var(--darkest-color),
      12.8125rem 16.875rem 0 0 var(--darkest-color),
      13.4375rem 16.875rem 0 0 var(--darkest-color),
      14.0625rem 16.875rem 0 0 var(--bow-shirt),
      14.6875rem 16.875rem 0 0 var(--darkest-color),
      15.3125rem 16.875rem 0 0 var(--darkest-color),
      15.9375rem 16.875rem 0 0 var(--bow-shirt),
      16.5625rem 16.875rem 0 0 var(--darkest-color),
      17.1875rem 16.875rem 0 0 var(--darkest-color),
      12.1875rem 17.5rem 0 0 var(--darkest-color),
      12.8125rem 17.5rem 0 0 var(--bow-shirt),
      13.4375rem 17.5rem 0 0 var(--bow-shirt),
      14.0625rem 17.5rem 0 0 var(--darkest-color),
      14.6875rem 17.5rem 0 0 var(--bow-shirt),
      15.3125rem 17.5rem 0 0 var(--bow-shirt),
      15.9375rem 17.5rem 0 0 var(--darkest-color),
      16.5625rem 17.5rem 0 0 var(--bow-shirt),
      17.1875rem 17.5rem 0 0 var(--bow-shirt),
      17.8125rem 17.5rem 0 0 var(--darkest-color),
      10.9375rem 18.125rem 0 0 var(--legs-eyes),
      11.5625rem 18.125rem 0 0 var(--legs-eyes),
      12.1875rem 18.125rem 0 0 var(--darkest-color),
      12.8125rem 18.125rem 0 0 var(--bow-shirt),
      13.4375rem 18.125rem 0 0 var(--bow-shirt),
      14.0625rem 18.125rem 0 0 var(--bow-shirt),
      14.6875rem 18.125rem 0 0 var(--bow-shirt),
      15.3125rem 18.125rem 0 0 var(--bow-shirt),
      15.9375rem 18.125rem 0 0 var(--bow-shirt),
      16.5625rem 18.125rem 0 0 var(--bow-shirt),
      17.1875rem 18.125rem 0 0 var(--bow-shirt),
      17.8125rem 18.125rem 0 0 var(--darkest-color),
      18.4375rem 18.125rem 0 0 var(--legs-eyes),
      19.0625rem 18.125rem 0 0 var(--legs-eyes),
      7.8125rem 18.75rem 0 0 var(--darkest-color),
      8.4375rem 18.75rem 0 0 var(--darkest-color),
      9.0625rem 18.75rem 0 0 var(--darkest-color),
      9.6875rem 18.75rem 0 0 var(--legs-eyes),
      10.3125rem 18.75rem 0 0 var(--legs-eyes),
      12.8125rem 18.75rem 0 0 var(--darkest-color),
      13.4375rem 18.75rem 0 0 var(--darkest-color),
      14.0625rem 18.75rem 0 0 var(--bow-shirt),
      14.6875rem 18.75rem 0 0 var(--bow-shirt),
      15.3125rem 18.75rem 0 0 var(--bow-shirt),
      15.9375rem 18.75rem 0 0 var(--bow-shirt),
      16.5625rem 18.75rem 0 0 var(--darkest-color),
      17.1875rem 18.75rem 0 0 var(--darkest-color),
      19.6875rem 18.75rem 0 0 var(--legs-eyes),
      20.3125rem 18.75rem 0 0 var(--legs-eyes),
      20.9375rem 18.75rem 0 0 var(--darkest-color),
      21.5625rem 18.75rem 0 0 var(--darkest-color),
      22.1875rem 18.75rem 0 0 var(--darkest-color),
      7.1875rem 19.375rem 0 0 var(--darkest-color),
      7.8125rem 19.375rem 0 0 var(--skin-web),
      8.4375rem 19.375rem 0 0 var(--skin-web),
      9.0625rem 19.375rem 0 0 var(--darkest-color),
      12.1875rem 19.375rem 0 0 var(--legs-eyes),
      12.8125rem 19.375rem 0 0 var(--legs-eyes),
      13.4375rem 19.375rem 0 0 var(--darkest-color),
      14.0625rem 19.375rem 0 0 var(--darkest-color),
      14.6875rem 19.375rem 0 0 var(--bow-shirt),
      15.3125rem 19.375rem 0 0 var(--bow-shirt),
      15.9375rem 19.375rem 0 0 var(--darkest-color),
      16.5625rem 19.375rem 0 0 var(--darkest-color),
      17.1875rem 19.375rem 0 0 var(--legs-eyes),
      17.8125rem 19.375rem 0 0 var(--legs-eyes),
      20.9375rem 19.375rem 0 0 var(--darkest-color),
      21.5625rem 19.375rem 0 0 var(--skin-web),
      22.1875rem 19.375rem 0 0 var(--skin-web),
      22.8125rem 19.375rem 0 0 var(--darkest-color),
      7.8125rem 20rem 0 0 var(--darkest-color),
      8.4375rem 20rem 0 0 var(--darkest-color),
      11.5625rem 20rem 0 0 var(--legs-eyes),
      12.8125rem 20rem 0 0 var(--darkest-color),
      13.4375rem 20rem 0 0 var(--pants), 14.0625rem 20rem 0 0 var(--pants),
      14.6875rem 20rem 0 0 var(--bow-shirt),
      15.3125rem 20rem 0 0 var(--bow-shirt), 15.9375rem 20rem 0 0 var(--pants),
      16.5625rem 20rem 0 0 var(--pants),
      17.1875rem 20rem 0 0 var(--darkest-color),
      18.4375rem 20rem 0 0 var(--legs-eyes),
      21.5625rem 20rem 0 0 var(--darkest-color),
      22.1875rem 20rem 0 0 var(--darkest-color),
      10.9375rem 20.625rem 0 0 var(--legs-eyes),
      12.1875rem 20.625rem 0 0 var(--legs-eyes),
      12.8125rem 20.625rem 0 0 var(--darkest-color),
      13.4375rem 20.625rem 0 0 var(--pants),
      14.0625rem 20.625rem 0 0 var(--pants),
      14.6875rem 20.625rem 0 0 var(--bow-shirt),
      15.3125rem 20.625rem 0 0 var(--bow-shirt),
      15.9375rem 20.625rem 0 0 var(--pants),
      16.5625rem 20.625rem 0 0 var(--pants),
      17.1875rem 20.625rem 0 0 var(--darkest-color),
      17.8125rem 20.625rem 0 0 var(--legs-eyes),
      19.0625rem 20.625rem 0 0 var(--legs-eyes),
      8.4375rem 21.25rem 0 0 var(--darkest-color),
      9.0625rem 21.25rem 0 0 var(--darkest-color),
      9.6875rem 21.25rem 0 0 var(--darkest-color),
      10.3125rem 21.25rem 0 0 var(--legs-eyes),
      11.5625rem 21.25rem 0 0 var(--legs-eyes),
      12.1875rem 21.25rem 0 0 var(--darkest-color),
      12.8125rem 21.25rem 0 0 var(--pants), 13.4375rem 21.25rem 0 0 var(--pants),
      14.0625rem 21.25rem 0 0 var(--pants),
      14.6875rem 21.25rem 0 0 var(--bow-shirt),
      15.3125rem 21.25rem 0 0 var(--bow-shirt),
      15.9375rem 21.25rem 0 0 var(--pants), 16.5625rem 21.25rem 0 0 var(--pants),
      17.1875rem 21.25rem 0 0 var(--pants),
      17.8125rem 21.25rem 0 0 var(--darkest-color),
      18.4375rem 21.25rem 0 0 var(--legs-eyes),
      19.6875rem 21.25rem 0 0 var(--legs-eyes),
      20.3125rem 21.25rem 0 0 var(--darkest-color),
      20.9375rem 21.25rem 0 0 var(--darkest-color),
      21.5625rem 21.25rem 0 0 var(--darkest-color),
      7.8125rem 21.875rem 0 0 var(--darkest-color),
      8.4375rem 21.875rem 0 0 var(--skin-web),
      9.0625rem 21.875rem 0 0 var(--skin-web),
      9.6875rem 21.875rem 0 0 var(--darkest-color),
      11.5625rem 21.875rem 0 0 var(--legs-eyes),
      12.1875rem 21.875rem 0 0 var(--darkest-color),
      12.8125rem 21.875rem 0 0 var(--pants),
      13.4375rem 21.875rem 0 0 var(--pants),
      14.0625rem 21.875rem 0 0 var(--pants),
      14.6875rem 21.875rem 0 0 var(--bow-shirt),
      15.3125rem 21.875rem 0 0 var(--bow-shirt),
      15.9375rem 21.875rem 0 0 var(--pants),
      16.5625rem 21.875rem 0 0 var(--pants),
      17.1875rem 21.875rem 0 0 var(--pants),
      17.8125rem 21.875rem 0 0 var(--darkest-color),
      18.4375rem 21.875rem 0 0 var(--legs-eyes),
      20.3125rem 21.875rem 0 0 var(--darkest-color),
      20.9375rem 21.875rem 0 0 var(--skin-web),
      21.5625rem 21.875rem 0 0 var(--skin-web),
      22.1875rem 21.875rem 0 0 var(--darkest-color),
      8.4375rem 22.5rem 0 0 var(--darkest-color),
      9.0625rem 22.5rem 0 0 var(--darkest-color),
      10.9375rem 22.5rem 0 0 var(--darkest-color),
      12.1875rem 22.5rem 0 0 var(--darkest-color),
      12.8125rem 22.5rem 0 0 var(--pants), 13.4375rem 22.5rem 0 0 var(--pants),
      14.0625rem 22.5rem 0 0 var(--darkest-color),
      14.6875rem 22.5rem 0 0 var(--darkest-color),
      15.3125rem 22.5rem 0 0 var(--darkest-color),
      15.9375rem 22.5rem 0 0 var(--darkest-color),
      16.5625rem 22.5rem 0 0 var(--pants), 17.1875rem 22.5rem 0 0 var(--pants),
      17.8125rem 22.5rem 0 0 var(--darkest-color),
      19.0625rem 22.5rem 0 0 var(--darkest-color),
      20.9375rem 22.5rem 0 0 var(--darkest-color),
      21.5625rem 22.5rem 0 0 var(--darkest-color),
      10.3125rem 23.125rem 0 0 var(--darkest-color),
      10.9375rem 23.125rem 0 0 var(--legs-eyes),
      12.8125rem 23.125rem 0 0 var(--darkest-color),
      13.4375rem 23.125rem 0 0 var(--bow-shirt),
      14.0625rem 23.125rem 0 0 var(--darkest-color),
      15.9375rem 23.125rem 0 0 var(--darkest-color),
      16.5625rem 23.125rem 0 0 var(--bow-shirt),
      17.1875rem 23.125rem 0 0 var(--darkest-color),
      19.0625rem 23.125rem 0 0 var(--legs-eyes),
      19.6875rem 23.125rem 0 0 var(--darkest-color),
      10.3125rem 23.75rem 0 0 var(--legs-eyes),
      10.9375rem 23.75rem 0 0 var(--skin-web),
      11.5625rem 23.75rem 0 0 var(--darkest-color),
      13.4375rem 23.75rem 0 0 var(--darkest-color),
      16.5625rem 23.75rem 0 0 var(--darkest-color),
      18.4375rem 23.75rem 0 0 var(--darkest-color),
      19.0625rem 23.75rem 0 0 var(--skin-web),
      19.6875rem 23.75rem 0 0 var(--darkest-color),
      10.3125rem 24.375rem 0 0 var(--darkest-color),
      10.9375rem 24.375rem 0 0 var(--skin-web),
      11.5625rem 24.375rem 0 0 var(--darkest-color),
      13.4375rem 24.375rem 0 0 var(--darkest-color),
      16.5625rem 24.375rem 0 0 var(--darkest-color),
      18.4375rem 24.375rem 0 0 var(--darkest-color),
      19.0625rem 24.375rem 0 0 var(--skin-web),
      19.6875rem 24.375rem 0 0 var(--darkest-color),
      10.3125rem 25rem 0 0 var(--darkest-color),
      10.9375rem 25rem 0 0 var(--darkest-color),
      13.4375rem 25rem 0 0 var(--darkest-color),
      14.0625rem 25rem 0 0 var(--darkest-color),
      15.9375rem 25rem 0 0 var(--darkest-color),
      16.5625rem 25rem 0 0 var(--darkest-color),
      19.0625rem 25rem 0 0 var(--darkest-color),
      19.6875rem 25rem 0 0 var(--darkest-color),
      13.4375rem 25.625rem 0 0 var(--darkest-color),
      14.0625rem 25.625rem 0 0 var(--darkest-color),
      15.9375rem 25.625rem 0 0 var(--darkest-color),
      16.5625rem 25.625rem 0 0 var(--darkest-color),
      13.4375rem 26.25rem 0 0 var(--darkest-color),
      14.0625rem 26.25rem 0 0 var(--darkest-color),
      15.9375rem 26.25rem 0 0 var(--darkest-color),
      16.5625rem 26.25rem 0 0 var(--darkest-color),
      12.8125rem 26.875rem 0 0 var(--darkest-color),
      13.4375rem 26.875rem 0 0 var(--darkest-color),
      16.5625rem 26.875rem 0 0 var(--darkest-color),
      17.1875rem 26.875rem 0 0 var(--darkest-color),
      12.8125rem 27.5rem 0 0 var(--darkest-color),
      13.4375rem 27.5rem 0 0 var(--darkest-color),
      16.5625rem 27.5rem 0 0 var(--darkest-color),
      17.1875rem 27.5rem 0 0 var(--darkest-color),
      12.8125rem 28.125rem 0 0 var(--darkest-color),
      13.4375rem 28.125rem 0 0 var(--darkest-color),
      16.5625rem 28.125rem 0 0 var(--darkest-color),
      17.1875rem 28.125rem 0 0 var(--darkest-color);
    height: 0.625rem;
    width: 0.625rem;
  }
}
